#main {
  width: 50px;
  position: fixed;
  top: 150px;
  right: 0px;
}
.box {
  width: 50px;
  height: 50px;
  color: white;
  font-size:25px;
  text-align: center;
  line-height: 60px; /*acepta solo una linea y ancho y alto definido*/
}
#facebook {
  background-color: rgb(59, 89, 152);
}
#twitter {
  background-color: rgb(29, 161, 242);
  /*
  position: relative;
  left: 100px;
  */
}
#printer {
  background-color: rgb(115, 138, 141);
}
#mail {
  background-color: rgb(132, 132, 132);
  /*position: relative;
  left: 100px; */
}
#more {
  background-color: rgb(255, 101, 80);
}
